Resume Screener.json
{
  "name": "Resume Screener",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7812e71-ac3e-4463-b1e2-a8207b59cc52",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a402766-89fe-4178-9002-94aa8aa2d838",
              "name": "resume_text",
              "value": "I am a React developer with 2 years experience in frontend, JavaScript, and building web apps.",
              "type": "string"
            },
            {
              "id": "fa9bfe13-bafc-4ae1-96ea-3f207423fc5f",
              "name": "jd_text",
              "value": "Looking for a frontend developer with React and JavaScript experience.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "67fbc342-cade-4459-b05b-eb7ba95f80d7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gsk_xxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a resume screening assistant.\\n\\nCompare this resume with the job description.\\n\\nResume:\\n{{$json.resume_text}}\\n\\nJob Description:\\n{{$json.jd_text}}\\n\\nAnswer in JSON format only:\\n{\\n  \\\"match\\\": \\\"yes or no\\\",\\n  \\\"score\\\": number from 0 to 100,\\n  \\\"reason\\\": \\\"short explanation\\\"\\n}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "3dc3a574-9843-4f64-8507-36b94567ef1a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225c6059-f0e5-4be8-a693-822ef92ab075",
              "name": "ai_output",
              "value": "={{$json.choices[0].message.content}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "e4bf2521-9395-4ec4-ac05-d01dd90059e2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91349cba-ac21-482e-92a7-6907f18921ac",
              "name": "match",
              "value": "={{ JSON.parse($json.ai_output).match }}",
              "type": "string"
            },
            {
              "id": "f45d4abb-1ab5-4c05-96cb-adb8b168bd02",
              "name": "score",
              "value": "={{ JSON.parse($json.ai_output).score }}",
              "type": "string"
            },
            {
              "id": "7e8a4c4d-5d6b-4711-864d-15d097716ca1",
              "name": "reason",
              "value": "={{ JSON.parse($json.ai_output).reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "7eb2af91-7f0b-4dbf-9ce6-17ac59460b3f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cf01c74-358e-4171-96f0-5cb21520c02e",
              "leftValue": "={{$json.match}}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "22fc3e6b-ca13-4edb-b9e6-31b91608fd54",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "palwaitejaswini7777@gmail.com",
        "toEmail": "palwaitejaswini7777@gmail.com",
        "subject": "Congratulations! You are shortlisted 🎉",
        "emailFormat": "text",
        "text": "=Hi,\n\nYou have been shortlisted!\n\nScore: {{$json.score}}\nReason: {{$json.reason}}\n\nWe will contact you soon.\n\n- HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1248,
        -32
      ],
      "id": "8482e4ce-c6e4-4ad1-86ad-81b0fe26073f",
      "name": "Send an Email",
      "webhookId": "01b21bb5-f74d-4d73-b61d-ac320dba67c7",
      "credentials": {
        "smtp": {
          "id": "nKUiz80W7MSGuGmg",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "palwaitejaswini7777@gmail.com",
        "toEmail": "palwaitejaswini7777@gmail.com",
        "subject": "Application Update",
        "emailFormat": "text",
        "text": "Hi,\n\nThank you for applying.\n\nUnfortunately, we will not proceed further.\n\n- HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1248,
        96
      ],
      "id": "b06cf7fc-d98f-4a8e-8da0-8d47b351ede2",
      "name": "Send an Email1",
      "webhookId": "e7180713-dba7-4a17-96e7-a9c3fffa63b7",
      "credentials": {
        "smtp": {
          "id": "nKUiz80W7MSGuGmg",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "33f1be90-3b62-4f7f-9ab0-0d9b7dac46c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89b72dd0de25e78edb30acbdb1b1ccd9fa921c78381d73a2221a78e4e512873f"
  },
  "id": "yMIYsKDCgxbPL098",
  "tags": []
}